@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Bold.woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Medium.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.woff2');
  font-weight: 500;
}


* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.btn:focus,
input:focus,
input:hover,
.form-control:focus {
  box-shadow: 0px 0px 0px transparent;
  outline: none;
}

ul {
  margin: 0px;
}

.comming-soon {
  width: 100%;
  padding: 10px 0px;
  background-color: #A331DC;
}

.comming-soon p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}

.top-nav {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
}

.top-nav .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.top-nav .content .brand-name img {
  width: 150px;
  height: 70px;
  object-fit: contain;
}

.top-nav .content .form-inline {
  width: 450px;
  height: 50px;
  position: relative;
}

.top-nav .content .form-inline .form-control {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding-inline-start: 60px;
}

.top-nav .content .form-inline .form-control::placeholder {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
}

.top-nav .content .form-inline .form-control:hover {
  border-color: #3577F0;
}

.top-nav .content .form-inline .form-btn {
  width: 50px;
  height: 50px;
  background: transparent;
  outline: none;
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.top-nav .content .form-inline .form-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: all .3s linear;
}

.top-nav .content .form-inline:hover .form-btn img {
  transform: rotate(45deg);
}

.top-nav .content .flex-data {
  display: flex;
  align-items: center;
  align-content: center;
}

.top-nav .content .flex-data .dropdown:first-child {
  margin-inline-end: 15px;
}

.top-nav .content .flex-data .dropdown .btn {
  outline: 1px solid #ddd;
}

.bottom-nav {
  width: 100%;
  background-color: #F7F7F7;
}

.bottom-nav .content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.bottom-nav .content .navbar-nav {
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.bottom-nav .content .navbar-nav li {
  margin-inline-end: 15px;
}

.bottom-nav .content .navbar-nav li:last-child {
  margin-inline-end: 0px;
}

.bottom-nav .content .navbar-nav .nav-items.categories .nav-link {
  width: 211px;
  padding: 20px 0px;
  background-color: #3577F0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bottom-nav .content .navbar-nav .nav-items.categories .nav-link img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-inline-end: 10px;
  filter: invert(99%) sepia(0%) saturate(4531%) hue-rotate(55deg) brightness(113%) contrast(100%);
}

.bottom-nav .content .navbar-nav .nav-items.categories .nav-link span {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.bottom-nav .content .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #000 !important;
}

.bottom-nav .content .icons-list {
  display: flex;
  align-items: center;
  align-content: center;
}

.bottom-nav .content .icons-list li {
  margin-inline-end: 10px;
}

.bottom-nav .content .icons-list li:last-child {
  margin-inline-end: 0px;
}

.bottom-nav .content .icons-list li a {
  width: 24px;
  height: 24px;
  display: flex;
}

.bottom-nav .content .icons-list li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.smallnav .categ {
  font-weight: 700;
  font-size: 24px;
}

.smallnav img {
  width: 20px;
  height: 20px;
}

ul {
  list-style: none;
}

.currency {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

header {
  width: 100%;
  position: relative;
}


header .side-navbar {
  width: 100%;
  height: 105%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
  background-color: #fff;
  color: #100901;
  transition: 0.5s;
}

header .nav-items ul {
  text-decoration: none;
  justify-content: space-between;
  align-items: center;

}

header .side-navbar .nav-link {
  color: #929292;
}

header .side-navbar .nav-link img {
  width: 20px;
  height: 20px;
}

header .side-navbar .active-nav {
  margin-left: 0;
}

header .watch {
  width: 100%;
  height: 94%;
  display: flex;
  background-size: cover;
  background: #F7F7F7;
  padding: 54px 40px 40px;
  margin-top: 10px;
  border-radius: 10px;
}

.watches li img {
  width: 20px;
  height: 20px;
}

.watches li span {
  color: #FF497C;
  font-weight: 600;
}

.watch-text {
  width: 390px;
  padding: 10px;
}

.watch-text h1 {
  font-size: 35px;
  font-weight: 600;
}

.watch img {
  width: 150px;
  height: 154px;
}

.navbar ul li {
  color: #100901;
}

.watch-btn {
  width: 150px;
  border: 0;
  padding: 15px 10px;
  outline: none;
  color: #292930;
  justify-content: space-between;
  border-radius: 9px;
  cursor: pointer;
  transition: width 0.5s;
}

.watch-btn i {
  margin-inline-start: 5px;
}

.watch-btn:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.leather {
  width: 100%;
  background: #F7F7F7;
  margin-top: 10px;
  border-radius: 10px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.leather img {
  height: 180px;
}

.leather h1 {
  font-size: 14px;
  color: #77797B;
  width: 100%;
  margin-top: 10px;
}

.leather span {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

#menu-btn {
  color: #3577F0;
  margin-left: -40px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}
.advantages .content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 30px;
}
.advantages .advantages-col{
  width: 18%;
  padding: 18px 24px;
  align-items: center;
  text-align: center;
  border: 1px solid #F1F1F1;
  line-height: 6;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.advantages .advantages-col img{
  width: 45px;
  height: 45px;
}
.advantages .advantages-col h2 {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #292930;
}
.arrivals {
  margin-top: 7%;
}
.arrivals .row .mb-3 p {
  font-size: 16px;
  font-weight: 600;
  color: #8C71DB;
 }
 .arrivals .row .mb-3{
   font-weight: 700;
   color: #292930;
 }
 .arrivals .row .col-6 .btn{
   background-color: #F6F7FB;
 }
 .arrivals .row .col-6 img{
   width: 15px;
   height: 15px;
 }
 .arrivals .row .col-6 .btn:focus{
   border: 0px 0px 0px transparent;
   box-shadow: none;
 }
 .arrivals .row .col-md-3 .card{
   border: 0px;
 }
 .arrivals .row .col-md-3 .card .sale-logo{
   background-color: #3577F0;
   color: #ffffff;
   height: 20px;
   width: 60px;
   font-size: 12px;
   line-height: 20px;
   font-weight: 600;
   position: absolute;
   top: 20px;
   border-radius: 2px;
   right: -12px;
   text-align: center;
 }
 .arrivals .row .col-md-3 .card img{
   border-radius: 5px;
   transition: all 0.3s linear;
 }
 .arrivals .row .col-md-3 .card img:hover{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 }
 .arrivals .row .col-md-3 .card .card-text{
   align-items: center;
   text-align: center;
   justify-content: center;
   padding: 15px 0px;
 }
 .carousel-inner{
   overflow: visible;
 }
 .arrivals .row .col-md-3 .card .card-text h4{
   color: #969696;
   font-size: 16px;
   font-weight: 600;
 }
 .arrivals .row .col-md-3 .card .card-text .prices{
   display: flex;
   justify-content: center;
 }
 .arrivals .row .col-md-3 .card .card-text .prices .old-price{
   font-size: 18px;
   color: #929292;
   text-decoration: line-through;
   font-weight: 600;
 }
 .arrivals .row .col-md-3 .card .card-text .prices .new-price{
   font-size: 18px;
   color: #292930;
   font-weight: 600;
 }