@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Bold.woff2");
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Medium.woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Regular.woff2");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.btn:focus,
input:focus,
input:hover,
.form-control:focus {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  outline: none;
}

ul {
  margin: 0px;
}

.comming-soon {
  width: 100%;
  padding: 10px 0px;
  background-color: #A331DC;
}

.comming-soon p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}

.top-nav {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
}

.top-nav .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.top-nav .content .brand-name img {
  width: 150px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-nav .content .form-inline {
  width: 450px;
  height: 50px;
  position: relative;
}

.top-nav .content .form-inline .form-control {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  -webkit-padding-start: 60px;
          padding-inline-start: 60px;
}

.top-nav .content .form-inline .form-control ::-webkit-input-placeholder {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
}

.top-nav .content .form-inline .form-control :-ms-input-placeholder {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
}

.top-nav .content .form-inline .form-control ::-ms-input-placeholder {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
}

.top-nav .content .form-inline .form-control ::placeholder {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
}

.top-nav .content .form-inline .form-control:hover {
  border-color: #3577F0;
}

.top-nav .content .form-inline .form-btn {
  width: 50px;
  height: 50px;
  background: transparent;
  outline: none;
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.top-nav .content .form-inline .form-btn img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.top-nav .content .form-inline:hover .form-btn img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.top-nav .content .flex-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.top-nav .content .flex-data .dropdown:first-child {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.top-nav .content .flex-data .dropdown .btn {
  outline: 1px solid #ddd;
}

.bottom-nav {
  width: 100%;
  background-color: #F7F7F7;
}

.bottom-nav .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-nav .content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bottom-nav .content .navbar-nav hr {
  width: 80%;
  margin: auto;
  border-top: 3px solid #000;
}

.bottom-nav .content .navbar-nav li {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.bottom-nav .content .navbar-nav li:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.bottom-nav .content .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #000 !important;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.bottom-nav .content .navbar-nav .nav-item .nav-link:hover {
  color: #A331DC !important;
}

.bottom-nav .content .navbar-nav .nav-items.categories .nav-link {
  width: 211px;
  padding: 20px 0px;
  background-color: #3577F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-nav .content .navbar-nav .nav-items.categories .nav-link img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  -webkit-filter: invert(99%) sepia(0%) saturate(4531%) hue-rotate(55deg) brightness(113%) contrast(100%);
          filter: invert(99%) sepia(0%) saturate(4531%) hue-rotate(55deg) brightness(113%) contrast(100%);
}

.bottom-nav .content .navbar-nav .nav-items.categories .nav-link span {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.bottom-nav .content .icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bottom-nav .content .icons-list li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

.bottom-nav .content .icons-list li:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.bottom-nav .content .icons-list li a {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-nav .content .icons-list li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

ul {
  list-style: none;
}

.currency {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header {
  width: 100%;
  position: relative;
}

header .side-navbar {
  width: 100%;
  height: 105%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #100901;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .side-navbar .nav-link {
  color: #929292;
}

header .side-navbar .nav-link img {
  width: 20px;
  height: 20px;
}

header .side-navbar .active-nav {
  margin-left: 0;
}

header .nav-items ul {
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .watch {
  width: 100%;
  height: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background: #F7F7F7;
  padding: 54px 40px 40px;
  margin-top: 10px;
  border-radius: 10px;
}

header .watch li span {
  color: #FF497C;
  font-weight: 600;
}

header .watch .watch-text {
  width: 390px;
  padding: 10px;
}

header .watch .watch-text h1 {
  font-size: 35px;
  font-weight: 600;
}

header .watch .watch-text .watch-btn {
  width: 150px;
  border: 0;
  padding: 15px 10px;
  outline: none;
  color: #292930;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 9px;
  cursor: pointer;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

header .watch .watch-text .watch-btn i {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

header .watch .watch-text .watch-btn:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

header .watch li img {
  width: 20px;
  height: 20px;
}

header .watch img {
  width: 150px;
  height: 154px;
}

.leather {
  width: 100%;
  background: #F7F7F7;
  margin-top: 10px;
  border-radius: 10px;
  padding: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.leather img {
  height: 180px;
}

.leather h1 {
  font-size: 14px;
  color: #77797B;
  width: 100%;
  margin-top: 10px;
}

.leather span {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

.advantages .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.advantages .advantages-col {
  width: 18%;
  padding: 18px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #F1F1F1;
  line-height: 6;
  border-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.advantages .advantages-col img {
  width: 45px;
  height: 45px;
}

.advantages .advantages-col h2 {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #292930;
}

.arrivals {
  margin-top: 7%;
}

.arrivals .container .row .col-6 .mb-3 {
  font-weight: 700;
  color: #292930;
}

.arrivals .container .row .col-6 p {
  color: #8C71DB;
  font-weight: 600;
}

.arrivals .container .row .col-6 .btn {
  background-color: #F6F7FB;
}

.arrivals .container .row .col-6 .btn:focus {
  border: 0px 0px 0px transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.arrivals .container .row .col-6 img {
  width: 15px;
  height: 15px;
}

.arrivals .container .row .col-12 .card {
  border: 0px;
}

.arrivals .container .row .col-12 .card .sale-logo {
  background-color: #3577F0;
  color: #ffffff;
  height: 20px;
  width: 60px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  border-radius: 2px;
  right: -12px;
  text-align: center;
}

.arrivals .container .row .col-12 .card img {
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.arrivals .container .row .col-12 .card img:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.arrivals .container .row .col-12 .card .card-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
}

.arrivals .container .row .col-12 .card .card-text h4 {
  color: #969696;
  font-size: 16px;
  font-weight: 600;
}

.arrivals .container .row .col-12 .card .card-text .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrivals .container .row .col-12 .card .card-text .prices .old-price {
  font-size: 18px;
  color: #929292;
  text-decoration: line-through;
  font-weight: 600;
}

.arrivals .container .row .col-12 .card .card-text .prices .new-price {
  font-size: 18px;
  color: #292930;
  font-weight: 600;
}

.arrivals .container .row .col-12 .carousel-inner {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */